<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Cybersecurity Flashcard Game</h1>
    </header>
    <div class="form-container">
       <h2>Login</h2>
       <% if (message) { %>
         <p class="error"><%= message %></p>
       <% } %>
       <form method="POST" action="/login">
           <label for="username">Username:</label>
           <input type="text" name="username" required>
           <label for="password">Password:</label>
           <input type="password" name="password" required>
           <button type="submit">Login</button>
       </form>
       <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
</body>
</html>
